In [5]:
from PyTools.metadata import metadata as md

In [12]:
import pandas as pd

In [14]:
data = pd.read_csv('cross_joined.csv')

In [21]:
md(data)

,col_name,data_type,missing_values,missing_values_percentage,unique_values,unique_values_percentage,min,max,std
0,StudentID,int64,0,0.00,1000,79.37,1.000000,1000.000000,291.320155
1,NoPaymentDue,object,0,0.00,2,0.16,NaN,NaN,NaN
2,Service,object,890,70.63,7,0.56,NaN,NaN,NaN
3,Disabled,object,1140,90.48,1,0.08,NaN,NaN,NaN
4,Unemployed,object,1130,89.68,1,0.08,NaN,NaN,NaN
5,School,object,42,3.33,6,0.48,NaN,NaN,NaN
6,Units,float64,42,3.33,15,1.19,1.000000,15.000000,3.753829
7,Country,object,0,0.00,2,0.16,NaN,NaN,NaN
8,Region,int64,0,0.00,5,0.40,1.000000,5.000000,1.411707
9,Marital_Status,int64,0,0.00,3,0.24,0.000000,2.000000,0.500274
10,Gender,object,636,50.48,1,0.08,NaN,NaN,NaN
11,Longest_Absence_From_School,int64,0,0.00,10,0.79,0.000000,9.000000,2.799576
12,Filed_For_Bankruptcy,object,1140,90.48,1,0.08,NaN,NaN,NaN
13,LongTermPlanningScore,float64,0,0.00,1000,79.37,0.090978,0.996835,0.172631
14,DecisionStyle,object,0,0.00,2,0.16,NaN,NaN,NaN
15,PowerOrientedScore,float64,0,0.00,960,76.19,0.076820,1.000000,0.198915
16,CommunityOrientedScore,float64,0,0.00,1000,79.37,0.000108,0.932651,0.211250
17,Family_Income,float64,0,0.00,1000,79.37,35074.290000,114967.960000,22844.324552
18,Parent_Education_Level,object,0,0.00,7,0.56,NaN,NaN,NaN
19,Credit_Score_Raw,float64,0,0.00,996,79.05,0.000735,1.000000,0.231376
20,Credit_Score_AgeAdj,float64,0,0.00,1000,79.37,0.045899,0.985665,0.194809
21,Loan_Amount,float64,0,0.00,912,72.38,5847.000000,19992.000000,3420.960718
22,HS_Math,float64,0,0.00,9,0.71,2.000000,10.000000,1.680844
23,HS_Science,float64,0,0.00,8,0.63,3.000000,10.000000,1.604507
24,HS_English,float64,18,1.43,9,0.71,2.000000,10.000000,1.542925